<div class="article-wrapper">
  <ul class="post-meta">
    <li><i class="calendar outline icon"></i><%- full_date(page.date, 'Do MMMM YYYY') %></li>
    <li><img class="ui avatar image" src="<%- gravatar(site.data.authors[page.author].email, 50).replace('http', 'https') %>"> <%- link_to('https://github.com/' + site.data.authors[page.author].github, page.author, {external: true}) %></li>
    <li><div class="addthis_sharing_toolbox"></div></li>
  </ul>
  <div class="ui divider"></div>
  <%- page.content %>
  <div class="ad">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- MoroccoJS-post -->
    <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-6146154997304787"
           data-ad-slot="6387919551"></ins>
         <script>
(adsbygoogle = window.adsbygoogle || []).push({});
         </script>
  </div>
</div>
<div class="addthis_sharing_toolbox"></div>
<%- partial('_partial/disqus') %>
