<div class="ui menu">
  <a class="header item" href="/">
    <%- image_tag('/img/logo.png', {alt: 'MoroccoJS'}) %>
  </a>
  <%- link_to('articles', 'Articles', {class: 'item yellow ' + (is_current('articles') ? 'active' : '')}) %>
  <%- link_to('tutorials', 'Tutorials', {class: 'item olive ' + (is_current('tutorials') ? 'active' : '')}) %>
  <%- link_to('news', 'News', {class: 'item purple ' + (is_current('news') ? 'active' : '')}) %>
  <%- link_to('events', 'Events', {class: 'item pink ' + (is_current('events') ? 'active' : '')}) %>
  <%- link_to('jobs', 'Jobs', {class: 'item blue ' + (is_current('jobs') ? 'active' : '')}) %>

  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <i class="search icon"></i>
        <form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form">
          <input name="q" results="0" class="search-form-input" placeholder="Search" type="text">
          <input name="sitesearch" value="https://moroccojs.org" type="hidden">
        </form>
      </div>
    </div>
    <%- link_to('about', 'About', {class: 'item grey ' + (is_current('about') ? 'active' : '')}) %>
  </div>
</div>
