<div class="column">
  <div class="ui <%= site.data.categories[post.categories.first().name].background %> special fluid card">
    <a href="<%= url_for(post.path) %>" class="content">
      <img class="post-img" src="/<%= post.path %>thumbnail.png" alt="" />
      <div class="header"><%= post.title %></div>
      <div class="meta">
        <span class="date"><%- full_date(post.date, 'Do MMMM YYYY') %></span>
      </div>
      <div class="description">
        <%= post.description %>
      </div>
    </a>
    <div class="extra content">
      <img class="ui avatar image" src="<%- gravatar(site.data.authors[post.author].email, 50) %>"> <%- link_to('https://github.com/' + site.data.authors[post.author].github, post.author, {external: true}) %>
      <span class="right floated">
        <%= titlecase(post.categories.first().name) %>
      </span>
    </div>
  </div>
</div>
